<div class="container">
  <div class="center-div">
    <%@users.each do |user|%>
      <div class="row">
        <div class="col-md-6">
          <%=user.username%>
        </div>
        <div class="col-md-3">
          <%=link_to 'Add friend',friendships_path(:friend_id => user),:type=> "button",:class => "btn btn-default", :method => :post%>
        </div>
      </div>
    <%end%>
    <%= will_paginate @users , :previous_label => '<', :next_label => '>' %>
  </div>
</div>
