<div class='container'>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%if  current_user%>
    <%=@user.username%>
  <%else%>
    <h3>Please log in</h3>
  <%end%>
</div>
