<tr>
  <td><%=song.name%></td>
  <td>
    <%=song_album(song)%>
  </td>
  <td>
    <%= link_to admin_songs_edit_path(song),class: "btn btn-primary btn-xs pull-right" do %>
      <span class="glyphicon glyphicon-edit"></span>Edit</button>
  <%end%>
  <%= link_to admin_song_path(song),method: :delete, data: {confirm: 'Are you sure?'},class: "btn btn-danger btn-xs pull-right" do %>
    <span class="glyphicon glyphicon-remove-circle"></span> Delete</button>
<%end%>
</td>
</tr>
