<tr>
  <td><%=band.name%></td>
  <!--<td><%#=Category.find(band.category_id).name%></td>-->
  <!-- Helper! -->
  <td>
    <%= link_to admin_bands_edit_path(band),class: "btn btn-primary btn-xs pull-right" do %>
      <span class="glyphicon glyphicon-edit"></span>Edit</button>
  <%end%>
  <%= link_to admin_band_path(band),method: :delete, data: {confirm: 'Are you sure?'},class: "btn btn-danger btn-xs pull-right" do %>
    <span class="glyphicon glyphicon-remove-circle"></span> Delete</button>
<%end%>
</td>
</tr>
