<div class="container">
  <% @categories.each do |category| %>
    <div class="col-md">
      <%= link_to category_path(category) do %>
        <h5><%= category.name %>
          (<%= category.albums.count%>)
        </h5>
      <% end %>
    <% end %>
  </div>
</div>
